@model TutorialMVC70486.Models.Estudiante

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.midName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.midName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrollmentDate)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</p>
