@model TutorialMVC70486.Models.Curso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Label("mensaje", "soy un mensaje", new { @class = "label label-info" })
    <div class="form-horizontal">
        <h4>Curso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.cursoID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.credits, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.credits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.credits, "", new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="text-danger">
    @Html.ActionLink("Volver al Listado", "Index",new {@class = "btn btn-primary"})
</div>

@section  scripts{
    <script>
        $(function () {
            $('.text-danger').removeClass('text-danger');
            $('.field-validation-error').removeClass('field-validation-error');
        });
    </script>

}

